/*
body {
    background-color: #e8f5fd
}
*/

.master {
    font-family: serif;
    font-size: 11pt;
    width: 100%;
}

.timelineDiv {
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;

    border-style: groove;
    border-width: 1px;
    border-color: #686868;
}

.date {
    padding-bottom: 4px;
    font-size: 7pt;
    font-style: italic;
}

.messageContainer {
    padding-top: 26px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.photoContainer {
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    display: inline-block;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

.image {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 48px;
    max-height: 48px;
}

.screenName {
    font-weight: bold;
}

.handle {
    font-size: 8pt;
}

.title {
    color: black;
    font-size: 40pt;
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 0%;
}

.postStyle {
    padding: 1%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;

    border-bottom: groove;
    border-width: 1px;
    border-color: #d6d6d6;
}

.oddPostBlock {
    background-color: #e8f5fd;
}

.evenPostBlock {
    background-color: #e9e9e9;
}